<p id="notice"><%= notice %></p>

<h1>Songs I wanna listen to</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Song</th>
      <th>Genre</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist %></td>
        <td><%= song.songtitle %></td>
        <td><%= song.genre %></td>
        <td><%= link_to 'Listen', song.link, :class => "Listen" %></td>
        <td><%= link_to 'Show', song, :class => "SED margin"  %></td>
        <td><%= link_to 'Edit', edit_song_path(song), :class => "SED"  %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, :class => "SED" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
